<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%=url%>/style/style.css" />
    <title>penghapusan</title>
  </head>
  <body>
    <div>
      <div class="logos">
        <img src="<%=url%>/img/logo.jpg" alt="logo" width="70px" />
        <p style="margin-left: 10px; text-align: center; margin-bottom: 1px">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto,
          dolore! Maxime fugiat libero tempora doloremque. Fugiat eligendi eos
          nobis quia aperiam dolor tenetur nisi unde rerum amet quae enim,
          nostrum deserunt eveniet numquam odit sint alias itaque voluptas!
          Magni, ipsa!
        </p>
      </div>

      <hr style="border: 1px solid" />
      <div style="padding-top: 5px">
        <table>
          <caption class="table-caption">
            Daftar Penghapusan
          </caption>
          <thead>
            <tr>
              <th style="width: 8%">No.</th>
              <th>Nama</th>
              <th>Keterangan</th>
              <th>Jumlah</th>
              <th style="width: 30%">Tanggal Input</th>
            </tr>
          </thead>
          <tbody>
            <% hps.map((e, index)=> {%>
            <tr>
              <td><%= index+1 %></td>
              <td><%=e.barang.name%></td>
              <td><%=e.barang.desc%></td>
              <td><%=e.barang.qty%></td>
              <td><%=e.createdAt%> WIB</td>
            </tr>
            <%}) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
